.ProfileInfoLeft {
  border-right: 2px dashed #ccc;
}

.ProfileImgWrap {
  height: 120px;
  position: absolute;
  width: 120px;
  background: #fff;
  overflow: hidden;

  img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
  }
}

.ProfileImg {
  cursor: pointer;
  height: 80px;
  margin: 0 auto;
  position: relative;
  width: 80px;
}
